@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-mainColor: #00298d;
  --color-secondColor: #f0f2f5;
}

body {
  font-family: "SN Pro", sans-serif;
  background-color: var(--color-secondColor);
}
